h1, h2 {
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

html, body {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.header {
  margin: auto;
  height: 550px;
  width: 80%;
  background-image: url("public/images/hero.jpg");
  background-color: #071339;
  display: block;
  padding-left: 150px;
}

.header__top {
  display: flex;
  flex-direction: row;
}

.header__top .logo {
  width: 150px;
  height: 40px;
  float: left;
  margin-top: 15px;
}

.header__top .menu {
  float: right;
  display: inline;
  margin-right: 0;
}

.header__top .menu__link {
  list-style: none;
  display: inline;
  margin: 15px;
}

.header__title {
  color: white;
  font-size: 30px;
  margin-top: 100px;
}

.header__title span {
  font-style: italic;
  font-family: 'Pacifico', "cursive";
  color: #c5b278;
  font-size: 50px;
}

.header .search {
  display: block;
  width: 90%;
  color: white;
}

.header .search__title {
  font-size: 15px;
  color: white;
}

.header .search__form__details {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.header .search__form__details label input {
  height: 50px;
  width: 200px;
  background-color: white;
  padding-left: 10px;
  margin: 5px;
  border: none;
}

.header .search__form__details label select {
  height: 52px;
  width: 200px;
  margin: 5px;
}

.header .search__form__btn {
  float: right;
  height: 40px;
  width: 160px;
  background-color: #c5b278;
  color: white;
  display: inline;
  margin: 20px 110px 150px auto;
  background-color: #c5b278;
  border: none;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container h1 {
  text-align: center;
  margin: 50px auto;
  width: 65%;
  font-size: 22px;
}

.container .about {
  margin: 20px auto 50px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.container .about__pic {
  position: relative;
  display: block;
  margin: 20px auto auto 100px;
}

.container .about__pic__background {
  height: 280px;
  width: 300px;
  border-radius: 15px;
  background-color: #071339;
  z-index: 0;
}

.container .about__pic__image {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 30px;
  left: 80px;
  border-radius: 15px;
}

.container .about__text {
  width: 300px;
  margin: auto 100px auto 100px;
  text-align: justify;
}

.container .about__text i {
  font-size: 50px;
  color: #c5b278;
}

.container .about__text__link {
  border-radius: 50px;
  height: 30px;
  border: none;
  width: 150px;
  background-color: #c5b278;
  font-size: bold;
}

.container .about__text__link a {
  color: white;
}

.container .appartements {
  width: 100%;
}

.container .testimony {
  background-color: #c5b278;
  height: 400px;
  width: 100%;
  margin: 20px auto 50px auto;
  /* Slideshow container */
  /* Hide the images by default */
  /* Next & previous buttons 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
}

.container .testimony * {
  box-sizing: border-box;
}

.container .testimony .slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.container .testimony .mySlides {
  display: none;
}

.container .testimony .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.container .testimony .prev:hover, .container .testimony .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.container .testimony .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.container .testimony .active, .container .testimony .dot:hover {
  background-color: #717171;
}

.container .testimony .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: inline;
}

.container .testimony .fade img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 50px auto 20px auto;
}

.container .testimony .fade p {
  margin: 5px auto;
  width: 50%;
}

.container .testimony .fade p span {
  color: white;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.container .reasons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
  text-align: left;
  margin: 20px auto 50px 150px;
}

.container .reasons__text {
  display: block;
  text-align: justify;
  margin: auto 80px;
  width: 400px;
}

.container .reasons__text #reasons-icon {
  font-size: 50px;
}

.container .reasons__text i {
  font-size: 20px;
  color: #c5b278;
}

.container .reasons__text .fa-chek {
  font-size: 20px;
}

.container .reasons__text__btn {
  border-radius: 50px;
  height: 30px;
  border: none;
  width: 100px;
  background-color: #c5b278;
  font-size: bold;
}

.container .reasons__text__btn a {
  color: white;
}

.container .reasons__pic {
  position: relative;
  display: block;
  margin: 20px auto;
}

.container .reasons__pic__background {
  height: 300px;
  width: 300px;
  background-color: #071339;
  z-index: 0;
  border-radius: 15px;
}

.container .reasons__pic__image {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50px;
  right: 80px;
  border-radius: 15px;
}

.footer {
  background-color: #c5b278;
  padding-left: 50px;
  padding-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "abt sitemap entreprise newsletter" "separator" "copyright";
  height: 500px;
}

.footer i {
  font-size: 20px;
}

.footer__about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #071339;
  grid-area: "abt";
}

.footer__about__logo {
  background-color: #071339;
  height: 50px;
  width: 160px;
  margin-top: 10px;
}

.footer__about__logo img {
  width: 150px;
  margin: auto;
  height: 40px;
}

.footer__about__adress {
  display: inline;
  margin-top: 15px;
}

.footer__about__phone {
  margin-top: 15px;
}

.footer__about__email {
  display: inline;
  margin-top: 15px;
}

.footer__sitemap {
  grid-area: "sitemap";
}

.footer__sitemap h3 {
  color: #071339;
}

.footer__sitemap__menu li a {
  color: #071339;
}

.footer__entreprise h3 {
  color: #071339;
}

.footer__entreprise__menu li a {
  color: #071339;
}

.footer__newsletters {
  grid-area: "newsletters";
  margin-right: 30px;
}

.footer__newsletters h3 {
  color: #071339;
}

.footer__newsletters__text {
  color: #071339;
}

.footer__newsletters__btn input {
  height: 30px;
  width: 200px;
  margin-bottom: -10px;
  margin-right: 0;
}

.footer__newsletters__btn button {
  height: 35px;
  width: 50px;
  background-color: #071339;
  margin-left: 0;
}

.footer__newsletters__btn button i {
  color: white;
}

.footer__separator {
  grid-area: "separator";
  width: 100%;
  height: 2px;
  color: #071339;
  background-color: #071339;
  margin: 20px auto;
}

.footer__copyright {
  color: #071339;
  grid-area: "copyright";
  margin: 20px auto auto 0;
}
